/* Background Colors */

$primary-background: #15131A;
$secondary-background: #110F14;

$card-primary-background: #0A0A0A;
$card-secondary-background: #444;

/* ================================================================= */

/* Text Colors */

$primary-text-color: #fff;
$secondary-text-color: #959496;
$a-href-text-color: #637CBB;

/* ================================================================= */

/* Font Weights */

$bold-font-weight: 700;
$normal-font-weight: 500;
$light-font-weight: 300;

/* ================================================================= */

/* Margins */

$center-margin: 0 auto;

/* ================================================================= */
