@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
}

.disabled {
  cursor: not-allowed;
}

/* navbar */
.app__navbar {
  margin: 0 auto;
  padding: 2rem 2rem;
}

.app__navbar-links li {
  margin: 0 0.5rem;
  cursor: pointer;
}

.app__navbar-login svg,
.order__btn svg {
  cursor: pointer;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}

/* footer */
.footer-container {
  padding: 0.5rem 0;
}

.footer-container__sub {
  padding: 2rem 1rem;
}