@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
  /* overflow-x: hidden; */
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
  background-color: #FCFCFC;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #DCCA87;
}

::-webkit-scrollbar-thumb {
  background-color: #6f56b4;
}

.disabled {
  cursor: not-allowed;
}

/* navbar */
.app__navbar {
  margin: 0 auto;
  padding: 2rem 2rem;
}

.app__navbar-links li {
  margin: 0 0.5rem;
  cursor: pointer;
}

.app__navbar-login svg,
.order__btn svg {
  cursor: pointer;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}

/* header */
.header-container__title {
  overflow-y: hidden;
}

.wave-up {
  position: relative;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

/* footer */
.footer-container {
  padding: 0.5rem 0;
}

.footer-container__sub {
  padding: 2rem 1rem;
}