@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #6f56b4);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #684471);
}

/* header */
.wave-up {
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

/* services */
.services-container {
  margin: 0 auto;
}

.button-glow {
  border-radius: 10px;
}

.button-glow:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button-glow:hover:before {
  opacity: 1;
}

.button-glow:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #444;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* about */
.rpcTeam .cardTeam {
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.rpcTeam .cardTeam .conTeam {
  transition: 0.5s;
}

.rpcTeam .cardTeam:hover .conTeam {
  opacity: 1;
  transform: translateY(-20px);
}

.rpcTeam .cardTeam .conTeam .imgTeam {
  border-radius: 50%;
  border: 10px solid #bfbfbf;
}

.rpcTeam .cardTeam .conTeam .conTeamBx h3 {
  letter-spacing: 2px;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.rpcTeam .cardTeam .conTeam .conTeamBx h3 span {
  text-transform: initial;
}

.rpcTeam .cardTeam .sclTeam li {
  list-style: none;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s);
}

.rpcTeam .cardTeam:hover .sclTeam li {
  transform: translateY(0px);
  opacity: 1;
}

/* builds */
.build-container {
  flex: 1;
}

.build-container__images {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.build-container__images::-webkit-scrollbar {
  display: none;
}

.build-container__images_card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: .25;
  transition: .5s ease;
}

.build-container__images_card:hover img {
  opacity: 1;
}

.build-container-arrows {
  padding: 0 1rem;
}


/* ========= Media Queries ========= */

@media (max-width: 639px) {
  .services__subtitle {
    margin: 0 auto;
  }

  .button-glow {
    width: 375px;
    height: 100px;
  }

  .build-container__images_card {
    min-width: 275px;
    height: 340px;
  }

  .build-container-arrows {
    bottom: 52.5%;
  }

  .left-arrow,
  .right-arrow {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .rpcTeam {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
  }

  .rpcTeam .cardTeam {
    width: 160px;
    height: 300px;
  }

  .rpcTeam .cardTeam .conTeam .imgTeam {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .rpcTeam .cardTeam .conTeam .conTeamBx h3 {
    font-size: 15px;
  }

  .rpcTeam .cardTeam .conTeam .conTeamBx h3 span {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .rpcTeam .cardTeam {
    width: 150px;
    height: 300px;
  }

  .button-glow {
    width: 340px;
    height: 100px;
  }
}